<%= turbo_frame_tag discussion do %>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h1><%= discussion.title %></h1>
      <span class="text-muted fs-6">
        <% if discussion.pinned %>
          <span class="badge rounded-pill bg-info">Pinned</span>
        <% end %>
        <% if discussion.closed %>
          <span class="badge rounded-pill text-danger">Closed</span>
        <% end %>
      </span>
    </div>
    <% if discussion.user == Current.user %>
      <div>
        <%= link_to "Edit", edit_discussion_path(discussion) %> |
        <%= link_to "Delete", discussion, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'  } %>
      </div>
    <% end %>
  </div>
<%end%>
