<div id="replies">
  <%= render partial: 'discussions/posts/replies/reply', collection: post.replies %>
</div>

<div id="<%= dom_id(post.replies.new) %>" class=my-4>
  <%= render partial: 'discussions/posts/replies/form', format: :html, locals: {discussion: discussion, post: post, new_reply: post.replies.new } %>
</div>
