<h3> Categories </h3>

<% @categories.each do |category| %>

  <%= link_to category_path(category), class: "text-decoration-none text-dark" do %>
    <div id="<%= dom_id(category) %>" class="mb-2">
      <div class="d-flex justify-content-between">
        <span> <%= category.name %> </span>
        <span class="badge bg-secondary"> <%= category.discussions.count %> </span>
      </div>
    </div>
  <%end%>

<% end %>



